<header style="color:white">
    <nav class="navbar navbar-dark bg-inverse pointer">
        <a [routerLink]="['Topics']" class="pointer">Topics</a>
        <a onclick="location.href='/login'" *ngIf = "status ==='ROLE_ANONYMOUS'">Login</a>
        <a [routerLink]="['NewTopic']" *ngIf = "status ==='ROLE_USER'" class="pointer">Add Topic</a>
        <a onclick="location.href='/logout'" *ngIf = "status !='ROLE_ANONYMOUS'">Logout</a>
        <a [routerLink]="['Report']" *ngIf = "status ==='ROLE_ADMIN'" class="pointer">Report</a>
        <a [routerLink]="['Registration']" *ngIf = "status ==='ROLE_ANONYMOUS'" class="pointer">SignUp</a>
    </nav>
</header>
<div class="main">
    <router-outlet></router-outlet>
</div>
