<form #form="ngForm" (ngSubmit)="createUser('/blog/user/create',form.value)">
    <div class="form-group">
        <label>UserName:</label>
        <input type="text" name="UserName" class="form-control" ngControl="userName" required>
    </div>
    <div class="form-group">
        <p>Password :</p>
        <input type="password" name="password" class="form-control" ngControl="password" required>
    </div>
    <br>
    <button type="submit">Create Account</button>
</form>
