<div class="page-header">
    <h1 id="header">Topics</h1>
</div>
<table id="topicDataTable" class="table table-inverse">
    <thead>
    <tr>
        <th>Title</th>
        <th>User</th>
        <th>Category</th>
        <th>Creation Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let topic of topics">
        <td [routerLink]="['/TopicInfo',{id:topic.id}]" class="pointer">
            {{topic.title}}
        </td>
        <td [routerLink]="['/UserInfo',{id:topic.user.id}]" class="pointer">
            {{topic.user.userName}}
        </td>
        <td [routerLink]="['/TopicsByCategory',{category:topic.category}]" class="pointer">{{topic.category}}</td>
        <td>{{topic.creationDate | date:'medium' }}</td>
    </tr>
    </tbody>
</table>

<button>Previous</button>
<button>Next</button>
<p1>{{amount}}</p1>

<div id="footer">
    Copyright &copy; www.forum.com
</div>
