<p>Generate report for top </p>
<input type="text" size="5" id="inputTop" [(ngModel)]="topAmount"/>
<select id="reportType" [(ngModel)]="activityReportType">
    <option value="MOST_ACTIVE_COMMENTATORS">MOST_ACTIVE_COMMENTATORS</option>
    <option value="MOST_ACTIVE_LIKERS">MOST_ACTIVE_LIKERS</option>
</select>
<button id="generateReport"
        (click)="getCommentators('/blog/report/commentators/'+topAmount+'?reportName='+activityReportType)"
        *ngIf="activityReportType==='MOST_ACTIVE_COMMENTATORS'">Generate
</button>
<button (click)="getLikers('/blog/report/commentators/'+topAmount+'?reportName='+activityReportType)"
        *ngIf="activityReportType==='MOST_ACTIVE_LIKERS'">Generate
</button>

<p>All user's comments</p>
<input type="text" size="5" id="userName" [(ngModel)]="userName">

<select id="reportType1" [(ngModel)]="amountReportType">
    <option value="ALL_COMMENTS">ALL_COMMENTS</option>
    <option value="ALL_TOPICS">ALL_TOPICS</option>
</select>
<button (click)="getComments('/blog/report/comments/'+userName+'?reportName=ALL_COMMENTS')"
        *ngIf="amountReportType==='ALL_COMMENTS'">Generate
</button>
<button (click)="getTopics('/blog/report/comments/'+userName+'?reportName=ALL_TOPICS')"
        *ngIf="amountReportType==='ALL_TOPICS'">Generate
</button>
<table *ngIf=activityReportType>
    <thead>
    <tr>
        <th>username</th>
        <th>amount</th>
    </tr>
    </thead>
    <tbody *ngIf="activityReportType==='MOST_ACTIVE_COMMENTATORS'">
    <tr *ngFor="let commentator of commentators">
        <td>{{commentator.userName}}</td>
        <td>{{commentator.amount}}</td>
    </tr>
    </tbody>
    <tbody *ngIf="activityReportType==='MOST_ACTIVE_LIKERS'">
    <tr *ngFor="let liker of likers">
        <td>{{liker.userName}}</td>
        <td>{{liker.amount}}</td>
    </tr>
    </tbody>
</table>

<table *ngIf=amountReportType>
    <thead>
    <tr>
        <th>username</th>
        <th>content</th>
    </tr>
    </thead>
    <tbody *ngIf="amountReportType==='ALL_COMMENTS'">
    <tr *ngFor="let comment of comments">
        <td>{{comment.userName}}</td>
        <td>{{comment.content}}</td>
    </tr>
    </tbody>
    <tbody *ngIf="amountReportType==='ALL_TOPICS'">
    <tr *ngFor="let topic of topics">
        <td>{{topic.userName}}</td>
        <td>{{topic.content}}</td>
    </tr>
    </tbody>
</table>