#form {
}

#header {
    text-align: center;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    position: relative;
}

#topic-header {
    text-align: center;
}

#userName {
    text-align: left;
}

#date {
    text-align: left;
}

#content {
    text-align: center;
}

#btnNext {
    float: right;
}

#btnPrev {
    float: left;
}

#title1 {
    height: 300px;
    width: 200%;
}

#addTopic {
    visibility: hidden;
}

#userReport {
    visibility: hidden;
}

#userReport1 {
    visibility: hidden;
}

.Row {
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Column {
    display: table-cell;
}

.title:hover {
    cursor: pointer;
    pointer-events: auto;
    text-decoration: underline;
}

.user:hover {
    cursor: pointer;
    pointer-events: auto;
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
    pointer-events: auto;
    color: white;
}

a:link, a:visited, a:active, a:hover {
    color: white;
    text-decoration: none;
}


