<form #form="ngForm" (ngSubmit)="sendTopic('/blog/topic/create/' + id,form.value)" >
    <div class="form-group">
        <label>Topic title:</label>
        <input type="text" name="title" class="form-control" ngControl="title" required>
    </div>
    <div class="form-group">
        <p>Content :</p>
        <textarea name="content" cols="80" rows="8" ngControl="content" id="content"></textarea>
    </div>

    <br>
    <div class="form-group">
        <p>Choose category</p>
        <select id="category" ngControl="category" required>
            <option value="JAVA">JAVA</option>
            <option value="C">C</option>
            <option value="RUBY">RUBY</option>
            <option value="PYTHON">PYTHON</option>
        </select>
    </div>
    <br>
    <button type="submit" >Create Topic</button>
</form>