<h3 id="topic-header">{{title}}</h3>
<p>{{content}}</p>
<p id="userName">Created&nbsp;by&nbsp;{{userName}}</p>
<p id="date"></p>
<p id="like">Appreciated: {{likes}}</p>

<button id="likeBtn" *ngIf="status ==='ROLE_USER'" (click)="setLike()">Like!</button>

<h3>Comments:</h3>

<div *ngFor="let comment of comments">
    <!--<p style="text-align:right;">Created by {{comment.user.userName}}</p>
        <p>{{comment.content}}</p>
                <div *ngFor="let a of comment.comments">
                    <p>{{a.content}}</p>
                    <div *ngFor="let b of a.comments">
                        <p>{{b.content}}</p>

                    </div>
                </div>-->
</div>

<!--<Tree [nodes]="comments" [options]="{treeNodeTemplate:comments}">
</Tree>-->


<br>
<textarea cols="40" rows="4" id="id" [(ngModel)]="commentContent"></textarea>
<br>
<button  type="submit" (click)="addComment(commentContent)">Add Comment</button>
